.btn {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-info {
    @extend .btn;
    background-color: gainsboro;
}
.btn-buy {
    @extend .btn;
    background-color: green;
}

.btn-cancel {
    @extend .btn; 
    background-color: red;
}